<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<h4 style="text-align:center">Welcome to the Library!</h4>

<table style="width:1000px; margin-left:auto; margin-right:auto " class="table-sm table">
  <thead class="thead-light" style="text-align:center">
    <tr>
     <th colspan="5">Books at the Library</th>
    </tr>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Author</th>
      <th>Pages</th>
      <th></th>
    </tr>
  </thead>
  <tr *ngFor = "let b of fakeBookDatabase">
      <td>{{b.id}}</td>
      <td>{{b.title}}</td>
      <td>{{b.author}}</td>
      <td>{{b.pages}}</td>
      <td><button (click) = "deleteBook(b)">Delete This Book</button></td>
  </tr>
</table>
<br><br><br>
<table style="width:1000px; margin-left:auto; margin-right:auto " class="table-sm table">
  <thead class="thead-light" style="text-align:center">
    <tr>
      <th colspan="6">Add or Update a Book</th>
    </tr>
    <tr>
      <th colspan="6">To ADD a book, fill in Title, Author, and Number of Pages. You can leave the ID blank: a new one will be generated</th>
    </tr>
    <tr>
      <th colspan="6">To UPDATE a book, fill in all fields, including the ID. The book with the given ID will be updated.</th>
    </tr>
  </thead>
  <tr>
    <td>ID:<input type="text" [(ngModel)] = "newID"></td>
    <td>Title:<input type="text" [(ngModel)] = "newTitle"></td>
    <td>Author:<input type="text" [(ngModel)] = "newAuthor"></td>
    <td># of Pages:<input type="text" [(ngModel)] = "newPages"></td>
    <td><button (click) = "addBook()">Add a Book</button></td>
    <td><button (click) = "updateBook()">Update a Book</button></td>
  </tr>
</table>
<br><br><br>
<table style="width:1000px; margin-left:auto; margin-right:auto " class="table-sm table">
  <thead class="thead-light" style="text-align:center">
    <tr>
      <th>Get all Book by a Title or Author</th>
    </tr>
  </thead>
<tr>
  <td>Title:<input type="text" [(ngModel)] = "getItem">
    <button (click) = "getByTitle(getTitle)">Search by Title</button>
    <button (click) = "getByAuthor(getAuthor)">Search by Author</button>
  </td>
</tr>
</table>

<table *ngIf="showTable" style="width:1000px; margin-left:auto; margin-right:auto " class="table-sm table">
  <thead class="thead-light" style="text-align:center">
    <tr>
     <th colspan="4">Books with the {{itemType}} {{getItem}}, sorted by increasing number of pages.</th>
    </tr>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Author</th>
      <th>Pages</th>
    </tr>
  </thead>
  <tr *ngFor = "let b of returnValues">
      <td>{{b.id}}</td>
      <td>{{b.title}}</td>
      <td>{{b.author}}</td>
      <td>{{b.pages}}</td>
  </tr>
</table>

<router-outlet></router-outlet>